:root{
    --fakebook-blue: #1877f2;
    --fakebook-blue-hover: #3e89ec;
    --fakebook-grey: #F0F2F5;
    --fakebook-green: #42b72a;
    --fakebook-dark-grey: #a0a2a2;
    --fakebook-background: #18191A;
    --fakebook-post-nav: #242526;
    --fakebook-border-color: #3E3F40;
    --search-bar-text: #96999f;
    --search-bar-color: #3A3B3C;
    --shadow-2: rgba(0, 0, 0, 0.2);
    --card-box-shadow: 0 12px 28px 0 var(--shadow-2);
    --secondary-font: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.login, .signup{
    display: flex;
    justify-content: space-around;
    padding-top: 72px;
    padding-bottom: 112px;
    background-color: var(--fakebook-grey);
}

.fakebook-logo-login{
    height: 106px;
    margin: -28px 0 -28px 0;
    padding: 112px 0 16px;
}

.fakebook-logo-login{
    color: var(--fakebook-blue);
    font-size: 60px;
}

.login-subheading, .signup-subheading{
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    width: 500px;
}

.login-form-box, .signup-form-box{
    margin: 40px 0 0;
    padding: 14px 0 28px;
    width: 396px;
    height: 290px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.signup-form-box{
    height: 420px !important;
}

.signup-heading{
    display: flex;
    text-align: left !important;
    padding: 0 16px 10px 16px;
}

.signup-heading > .left > h3{
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #606770;
}
.login-form-box > form, .signup-form-box > form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.signup-form-box > form{
    border-top: 1px solid #dadde1;
    padding: 16px;
}

.fullname-signup{
    justify-content: space-around;
    display: flex;
}
.login-form-box > form > input, .login-form-box > form > button{
    margin: 6px auto;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
}

.signup-form-box > form > input, .signup-form-box > form > button, .fullname-signup > input{
    border-radius: 6px;
    padding: 9px;
    margin: 6px auto;
}

.fullname-signup > input{
    width: 150px;
}

.signup-form-box > form > input{
    width: 330px;
}

.signup-form-box > form > button{
    min-width: 351px !important;
}

.signup-form-box > form > input, .fullname-signup > input{
    font-size: 17px;
    border: 1px solid #dddfe2;
}

.login-form-box > form > input{
    font-size: 17px;
    border: 1px solid #dddfe2;
}

.login-form-box > form > input:focus{
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

.submit{
    background-color: var(--fakebook-blue);
    border: none;
    min-width: 362px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.submit:hover{
    cursor: pointer;
}

.form-error{
    height: 19px;
    color: rgb(209, 38, 38);
    font-size: 14px;
}

.sign-up-label{
    margin-right: auto;
    margin-left: 7px;
    color: #606770;
    font-size: 12px;
    font-weight: normal;
    margin-top: 2px;
}

.break{
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
}

.signup-break{
    border-bottom: 0.5px solid #dadde1;
}

.create-account{
    border: none;
    text-decoration: none;
    color :white;
    background-color: var(--fakebook-green);
    font-weight: bold;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 12px 16px;
}

.x-signup{
    border: none;
    text-decoration: none;
    color: var(--fakebook-dark-grey);
    margin-left: auto;
}

.input-err{
    border-color: red !important;
}

.navbar{
    background-color: var(--fakebook-post-nav);
    height: 56px;
    border-bottom: 0.5px solid var(--fakebook-border-color);
}

.nav-app-icon{
    background-color: var(--fakebook-blue);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto 0;
}

.nav-items{
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    list-style-type: none;
}

.homepage{
    background-color: var(--fakebook-background);
    min-height: 100vh;
}

.nav-left{
    display: flex;
    margin-right: auto;
    justify-content: space-between;
    padding: 0 16px;
}

.nav-middle{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.nav-right{
    padding: 0 16px 0 4px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-search-box{
    padding: 7px 8px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--search-bar-color);
    border: none;
    width: 208px;
    outline-color: #ffffff00;
    min-height: 29.5px;
    color: var(--search-bar-text)
}

.nav-search-box:focus{
    outline:none;
    caret-color: #B0B3B8;
}

.nav-search-box::placeholder{
    color: var(--search-bar-text);
    font-weight: 400;
    font-size: .9375rem;
}

.search-glass-div{
    display: flex;
    background-color: var(--search-bar-color);
    margin-left: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    align-items: center;
}

.searchIcon{
    color: var(--search-bar-text);
    padding-left: 7px;
}

.nav-item-selected{
    color: var(--fakebook-blue);
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
}

.nav-item-unselected{
    color: var(--fakebook-dark-grey);
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
}

.nav-item-unselected:hover{
    background-color: var(--search-bar-color);
    cursor: pointer;
    border-radius: 10px;
}

.unselected-container{
    height: 100%;
    border-bottom:  3px solid #ffffff00;
    display: table;
    width: 150px;
    text-align: center;
}

.selected-container{
    height: 96%;
    border-bottom: 3px solid var(--fakebook-blue);
    display: table;
    width: 150px;
    text-align: center;
}

.nav-link{
    height: 100%;
    background-color: none;
    text-decoration: none;
}


.nav-menu{
    color: var(--fakebook-dark-grey);
    font-size: 24px;
    background-color: #3A3B3C;
    padding: 8px;
    border-radius: 999999px;
    margin-right: 6px;
}

.nav-profile-photo{
    width: 40px;
    height: auto;
    border-radius: 999999px;
}

.dropdown-menu{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--fakebook-post-nav);
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
    color: white;
    box-shadow: var(--card-box-shadow);
}

.menu-trigger:hover{
    cursor: pointer;
}

.dropdown-menu:before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

ul{
    list-style-type: none;
    list-style: none;
}

.dropdown-menu ul li{
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdownItem-link, .sideItem-profile, .sideItem-link{
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: .9375rem;
}

.sideItem-profile{
    margin-left: 10px;
}

.dropdownItem, .sideItem{
    display: flex;
    align-items: center;
    min-height: 56px;
}

.sideItem{
    padding: 2px 8px;
}

.nav-profile{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nav-profile:hover{
    background-color: var(--search-bar-color);
    border-radius: 8px;
}

.dropdown-profile-photo, .sideProfile-image{
    margin-top: 10px ;
    margin-bottom: 10px;
    height: 32px;
    width: auto;
    border-radius: 99999px;
}

.nav-name{
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdownItem:hover, .sideItem:hover{
    background-color: var(--search-bar-color);
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-item-icon{
    border-radius: 999999px;
    background-color: var(--search-bar-color);
    padding: 4px;
}

.sideItem-icon{
    border-radius: 999999px;
    padding: 4px;
    font-size: 28px;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, rgba(24,119,242,1) 0%, rgba(0,212,255,1) 100%);;
    background-size: 100%;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.dropdown-item-text, .sideProfile-text{
    margin-left: 10px
}

.sideItem-text{
    margin-left: 5px;
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 1s ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 1s ease;
}

.home-items{
    display: flex;
}

.home-options{
    margin-left: 5px;
    border-bottom: 1px solid var(--fakebook-border-color);
    min-width: 20%;
}

.profile{
    height: 100vh;
    background-color: var(--fakebook-post-nav);
}

.top-profile{
    background-color: var(--fakebook-post-nav);
    display: flex;
    border-bottom: 0.5px solid rgb(62, 64, 66);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.profile-feed{
    background-color: var(--fakebook-background);
}

.profile-picture{
    margin: 100px 0 0 0;
    height: 168px;
    width: auto;
    border-radius: 999999px;
}

.profile-friends-container{
    display: flex;
    flex-direction: column;
}

.profile-name{
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 700;
    color: rgb(228, 230, 235);
}

.profile-friends-container{
    margin-top: 150px;
    margin-left: 10px;
}

.profile-friends, .profile-mutual-friends{
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 600;
    color: rgb(176, 179, 184);
}

.edit-profile, .profile-friend, .profile-not-friend{
    border: none;
    border-radius: 6px;
    font-family: var(--secondary-font);
    padding: 0 12px;
    font-size: 12px;
    height: 36px;
    display: flex;
    align-items: center;
    margin-top: 225px;
    margin-left: auto;
    color: rgb(228, 230, 235);
}

.edit-profile, .profile-friend{
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-not-friend{
    background-color: var(--fakebook-blue);
}

.profile-not-friend:hover{
    cursor: pointer;
    background-color: var(--fakebook-blue-hover)
}

.edit-profile:hover, .profile-friend:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.398);
}

.button-icon{
    margin-right: 5px;
}

.profile-tabs{
    display: flex;
    margin-left: 15%;
}

.profile-tabs > li{
    padding: 20px 16px; 
    color: rgb(176, 179, 184 );
    text-decoration: none;
    width: 54px;
    text-align: center;
}

.profile-tabs > .not-chosen:hover{
    background-color: var(--search-bar-color);
    cursor: pointer;
    border-radius: 10px;
}

.tab-chosen{
    color: var(--fakebook-blue) !important;
    border-bottom: 3px solid var(--fakebook-blue);
}