:root{
    --fakebook-blue: #1877f2;
    --fakebook-blue-hover: #3e89ec;
    --fakebook-white: #F0F2F5;
    --fakebook-green: #42b72a;
    --fakebook-dark-grey: #a0a2a2;
    --fakebook-background: #18191A;
    --fakebook-post-nav: #242526;
    --fakebook-border-color: #3E3F40;
    --search-bar-text: #96999f;
    --search-bar-color: #3A3B3C;
    --shadow-2: rgba(0, 0, 0, 0.2);
    --card-box-shadow: 0 12px 28px 0 var(--shadow-2);
    --secondary-font: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
    --hover-button: rgba(255, 255, 255, 0.398);
    --fakebook-white-font: rgb(228, 230, 235);
    --fakebook-light-grey: rgb(176, 179, 184);
}

*{
    padding: 0;
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.login, .signup{
    display: flex;
    justify-content: space-around;
    padding-top: 72px;
    padding-bottom: 112px;
    background-color: var(--fakebook-white);
}

.fakebook-logo-login{
    height: 106px;
    margin: -28px 0 -28px 0;
    padding: 112px 0 16px;
}

.fakebook-logo-login{
    color: var(--fakebook-blue);
    font-size: 60px;
}

.login-subheading, .signup-subheading{
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    width: 500px;
}

.login-form-box, .signup-form-box{
    margin: 40px 0 0;
    padding: 14px 0 28px;
    width: 396px;
    height: 340px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.signup-form-box{
    height: 420px !important;
}

.signup-heading{
    display: flex;
    text-align: left !important;
    padding: 0 16px 10px 16px;
}

.signup-heading > .left > h3{
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #606770;
}
.login-form-box > form, .signup-form-box > form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.signup-form-box > form{
    border-top: 1px solid #dadde1;
    padding: 16px;
}

.fullname-signup{
    justify-content: space-around;
    display: flex;
}
.login-form-box > form > input, .login-form-box > form > button{
    margin: 6px auto;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
}

.signup-form-box > form > input, .signup-form-box > form > button, .fullname-signup > input{
    border-radius: 6px;
    padding: 9px;
    margin: 6px auto;
}

.fullname-signup > input{
    width: 150px;
}

.signup-form-box > form > input{
    width: 330px;
}

.signup-form-box > form > button{
    min-width: 351px !important;
}

.signup-form-box > form > input, .fullname-signup > input{
    font-size: 17px;
    border: 1px solid #dddfe2;
}

.login-form-box > form > input{
    font-size: 17px;
    border: 1px solid #dddfe2;
}

.login-form-box > form > input:focus{
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

.submit{
    background-color: var(--fakebook-blue);
    border: none;
    min-width: 362px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.submit:hover{
    cursor: pointer;
}

.form-error, .form-error-post{
    height: 19px;
    color: rgb(209, 38, 38);
    font-size: 14px;
}

.form-error-post{
    text-align: center;
}

.sign-up-label{
    margin-right: auto;
    margin-left: 7px;
    color: #606770;
    font-size: 12px;
    font-weight: normal;
    margin-top: 2px;
}

.break{
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
}

.signup-break{
    border-bottom: 0.5px solid #dadde1;
}

.create-account{
    border: none;
    text-decoration: none;
    color :white;
    background-color: var(--fakebook-green);
    font-weight: bold;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 12px 16px;
}

.x-signup{
    border: none;
    text-decoration: none;
    color: var(--fakebook-dark-grey);
    margin-left: auto;
}

.input-err{
    border-color: red !important;
}

.navbar{
    background-color: var(--fakebook-post-nav);
    height: 56px;
    border-bottom: 0.5px solid var(--fakebook-border-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav-app-icon{
    background-color: var(--fakebook-blue);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto 0;
}

.nav-items{
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    list-style-type: none;
}

.homepage{
    background-color: var(--fakebook-background);
    min-height: 100vh;
}

.searchpage{
    background-color: var(--fakebook-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result-loading{
    height: 150px;
    margin-top: 50px;
}

.nav-left{
    display: flex;
    margin-right: auto;
    justify-content: space-between;
    width: 20%;
    padding: 0 16px;
}

.nav-middle{
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.nav-right{
    padding: 0 16px 0 4px;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 20%;
}
.nav-search-box{
    padding: 7px 8px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--search-bar-color);
    margin-right: auto;
    border: none;
    width: 208px;
    outline-color: #ffffff00;
    min-height: 29.5px;
    color: var(--search-bar-text)
}

.nav-search-box:focus{
    outline:none;
    caret-color: #B0B3B8;
}

.nav-search-box::placeholder{
    color: var(--search-bar-text);
    font-weight: 400;
    font-size: .9375rem;
}

.search-glass-div{
    display: flex;
    background-color: var(--search-bar-color);
    margin-left: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    align-items: center;
}

.searchIcon{
    color: var(--search-bar-text);
    padding-left: 7px;
}

.nav-item-selected{
    color: var(--fakebook-blue);
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
}

.nav-item-unselected{
    color: var(--fakebook-dark-grey);
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
}

.nav-item-unselected:hover{
    background-color: var(--search-bar-color);
    cursor: pointer;
    border-radius: 10px;
}

.unselected-container{
    height: 100%;
    border-bottom:  3px solid #ffffff00;
    display: table;
    width: 150px;
    text-align: center;
}

.selected-container{
    height: 96%;
    border-bottom: 3px solid var(--fakebook-blue);
    display: table;
    width: 150px;
    text-align: center;
}

.nav-link{
    height: 100%;
    background-color: none;
    text-decoration: none;
}


.nav-menu{
    color: var(--fakebook-dark-grey);
    font-size: 24px;
    background-color: #3A3B3C;
    padding: 8px;
    border-radius: 999999px;
    margin-right: 6px;
}

.nav-profile-photo{
    width: 40px;
    height: 40px;
    border-radius: 999999px;
    object-fit: cover;
}

.comment-profile-photo{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 999999px;
}

.dropdown-menu{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--fakebook-post-nav);
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
    color: white;
    box-shadow: var(--card-box-shadow);
}

.menu-trigger:hover{
    cursor: pointer;
}

.menu-container{
    margin-left: auto;
}

.dropdown-menu:before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

ul{
    list-style-type: none;
    list-style: none;
}

.dropdown-menu ul li{
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdownItem-link, .sideItem-profile, .sideItem-link{
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: .9375rem;
}

.sideItem-profile{
    margin-left: 10px;
}

.dropdownItem, .sideItem{
    display: flex;
    align-items: center;
    min-height: 56px;
}

.sideItem{
    padding: 2px 8px;
}

.nav-profile{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nav-profile:hover{
    background-color: var(--search-bar-color);
    border-radius: 8px;
}

.dropdown-profile-photo{
    margin-left: 10px;
}

.dropdown-profile-photo, .sideProfile-image{
    margin-top: 10px ;
    margin-bottom: 10px;
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 99999px;
}

.nav-name{
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdownItem:hover, .sideItem:hover{
    background-color: var(--search-bar-color);
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-item-icon{
    border-radius: 999999px;
    background-color: var(--search-bar-color);
    padding: 4px;
    margin-left: 10px;
}

.sideItem-icon{
    border-radius: 999999px;
    padding: 4px;
    font-size: 28px;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, rgba(24,119,242,1) 0%, rgba(0,212,255,1) 100%);
    background-size: 100%;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.dropdown-item-text, .sideProfile-text{
    margin-left: 10px
}

.sideItem-text{
    margin-left: 5px;
}

.dropdown-menu.active, .post-form-popup-screen.active, .post-right.active{
    opacity: 1;
    visibility: visible;
    transition: 1s ease;
}

.dropdown-menu.active, .post-form-popup-screen.active{
    transform: translateY(0);
}

.dropdown-menu.inactive, .post-form-popup-screen.inactive{
    transform: translateY(-20px);
}

.dropdown-menu.inactive, .post-form-popup-screen.inactive, .post-right.inactive{
    opacity: 0;
    visibility: hidden;
    transition: 1s ease;
}

.post-right.active{
    transform: translateX(0);
}

.post-right.inactive{
    transform: translateX(-20px);
}

.home-items{
    display: flex;
    padding-top: 70px;
}

.home-options{
    margin-left: 5px;
    border-bottom: 1px solid var(--fakebook-border-color);
    width: 20%;
    height: 140px;
}

.home-feed{
    flex: 1;
}

.home-contact-list{
    width: 20%;
    margin-left: auto;
}

.profile{
    height: 60vh;
    background-color: var(--fakebook-post-nav);
}

.top-profile{
    background-color: var(--fakebook-post-nav);
    display: flex;
    border-bottom: 0.5px solid rgb(62, 64, 66);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.profile-feed{
    background-color: var(--fakebook-background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.profile-picture{
    height: 168px;
    width: auto;
    border-radius: 999999px;
}

.profile-pic-wrapper{
    overflow: hidden;
    height: 168px;
    width: 168px;
    margin: 100px 0 0 0;
    border-radius: 999999px;
}

.profile-picture.hover:hover{
    cursor: pointer;
    filter: brightness(60%);
}

.profile-picture-openform{
    color: var(--fakebook-white);
    border-radius: 9999999px;
    background-color: rgb(58, 59, 60);
    margin-top: auto;
    z-index: 1;
    position: relative;
    left: -50px;
    padding: 5px 5px 2.5px 5px;
    display: flex;
    align-items: center;
}

.profile-picture-openform:hover{
    background-color: #55575a;
    cursor: pointer;
}
.profile-friends-container{
    display: flex;
    flex-direction: column;
}

.profile-name{
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 700;
    color: rgb(228, 230, 235);
}

.profile-friends-container{
    margin-top: 150px;
    margin-left: 10px;
}

.profile-friends, .profile-mutual-friends{
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--fakebook-light-grey);
}

.edit-profile, .profile-friend, .profile-not-friend, .profile-unfriend{
    border: none;
    border-radius: 6px;
    font-family: var(--secondary-font);
    padding: 0 12px;
    font-size: 12px;
    height: 36px;
    display: flex;
    align-items: center;
    margin-top: 225px;
    color: rgb(228, 230, 235);
}

.profile-unfriend{
    margin-left: 20px;
}

.edit-profile, .profile-friend, .profile-not-friend{
    margin-left: auto;
}
.edit-profile, .profile-friend, .profile-unfriend{
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-not-friend{
    background-color: var(--fakebook-blue);
}

.profile-not-friend:hover{
    cursor: pointer;
    background-color: var(--fakebook-blue-hover)
}

.edit-profile:hover, .profile-friend:hover, .profile-unfriend:hover{
    cursor: pointer;
    background-color: var(--hover-button);
}

.button-icon{
    margin-right: 5px;
}

.profile-tabs{
    display: flex;
    margin-left: 15%;
}

.profile-tabs > li{
    padding: 20px 16px; 
    color: rgb(176, 179, 184 );
    text-decoration: none;
    width: 54px;
    text-align: center;
}

.profile-tabs > .not-chosen:hover{
    background-color: var(--search-bar-color);
    cursor: pointer;
    border-radius: 10px;
}

.tab-chosen{
    color: var(--fakebook-blue) !important;
    border-bottom: 3px solid var(--fakebook-blue);
}

.profile-about{
    margin: 16px auto;
    background-color:var(--fakebook-post-nav);
    width: 1218px;
    height: 300px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: var(--shadow-2);
    display: flex;
}

.profile-about-left{
    border-right: 0.5px solid var(--fakebook-border-color);
}

.profile-about-left > h3, .profile-about-left > ul > li, .profile-about-right > div > h4, .profile-about-right > h4, .profile-about-right > p{
    color: rgb(228, 230, 235);
    font-family: var(--secondary-font);
}

.title-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile-about-right > h4, .title-container > h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom : 20px;
}

.profile-about-right{
    flex: 1;
}

.edit-button{
    color: var(--fakebook-blue)
}

.edit-button:hover{
    text-decoration: underline;
    text-decoration-color: var(--fakebook-blue);
    cursor: pointer;
}

.profile-about-left > h3{
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    margin: 16px 0 20px 0;
}

.selection-chosen, .selection-not-chosen{
    padding: 12px 10px;
    width: 274px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.selection-chosen{
    color: var(--fakebook-blue) !important;
    background-color: rgba(45, 136, 255, 0.2);
}

.selection-chosen:hover{
    cursor: pointer;
}

.selection-not-chosen:hover{
    cursor: pointer;
    background-color: var(--search-bar-color);
}

.profile-about-right{
    padding: 16px 32px 32px 16px;
}

.contact-symbol{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    word-break: break-word;
    color: rgb(228, 230, 235);
}

.contact-symbol.bio{
    margin-top: 10px;
}

.about-button-icon{
    color: var(--fakebook-dark-grey);
    margin-right: 5px;
}

.error-icon{
    color: var(--fakebook-white);
    margin-right: 5px
}

.likes{
    display: flex;
    align-items: center;
    z-index: 1;
}

.like-icon{
    color: var(--fakebook-white-font);
    background-image: linear-gradient(0deg, rgba(24,119,242,1) 0%, rgba(0,212,255,1) 100%);;
    border-radius: 9999999px;
    padding: 2px;
    font-size: 10px;
    margin-right: 2px;
}

.about-desc{
    color: var(--fakebook-light-grey) !important;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-left: 29px;
}

.post-form{
    display: flex;
    align-items: center;
}

.post-form, .post-feed{
    background-color: var(--fakebook-post-nav);
    padding: 16px;
    font-size: 12px;
    border-radius: 8px;
    margin-top: 16px;
    width: 668px;
    box-shadow: 0 1px 2px var(--shadow-2);
}

.post-feed{
    display: flex;
    flex-direction: column;
}
.post-right{
    margin-left: 10px;
    background-color: var(--fakebook-post-nav);
    padding: 16px;
    font-size: 12px;
    border-radius: 8px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px var(--shadow-2);
    max-width: 300px;
}

.post-feed{
    padding-bottom: 20px !important;
    min-width: 668px !important;
}
.post-creation-info{
    display: flex;
    align-items: center;
}

.form-trigger{
    padding: 8px 12px;
    background-color: rgb(58, 59, 60);
    border-radius: 20px;
    font-size: 17px;
    color: var(--fakebook-light-grey);
    margin-left: 8px;
    width: 594px;
}

.form-trigger:hover{
    background-color: #55575a;
    cursor: pointer;
}

.home-contact-list > h4, .contact-birthdays > h4 {
    color: rgb(176, 179, 184);
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
}

.post-form-popup-screen{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.448);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.edit-form{
    margin-top: 10px;
}

.edit-form-textarea, .edit-form-input{
    border: none;
    background-color: rgb(58, 59, 60);
    color: #B0B3B8;
    font-size: 15px;
    resize: none;
    font-weight: 300;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    max-width: 855.5px;
    width: 855.5px;
}

.edit-form-textarea:focus, .edit-form-input:focus{
    border: none;
    outline: none;
    caret-color: #B0B3B8;
}

.form-button-cancel{
    margin-left: auto;
}

.form-button-save{
    margin-left: 20px;
}

.form-button-save, .form-button-cancel{
    color: rgb(228, 230, 235);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;
    height: 36px;
    padding: 0 12px;
}

.form-button-cancel.disabled{
    background-color: rgba(255, 255, 255, 0.335);
}

.form-button-cancel.disabled:hover{
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.335);
}

.form-button-save.disabled:hover{
    cursor: wait;
    background-color: rgba(255, 255, 255, 0.1);
}

.form-button-save:hover, .form-button-cancel:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.308)
}

.edit-form-buttons{
    display: flex;
    width: 100%;
}

.post-form-popup{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--fakebook-post-nav);
    padding: 16px;
    font-size: 12px;
    border-radius: 8px;
    min-width: 500px;
}

.post-form-popup-top > h3, .profile-pic-form > h1{
    text-align: center;
    color: var(--fakebook-white-font);
    font-size: 20px;
    font-weight: 700;
    border-bottom:0.5px solid var(--fakebook-border-color);
    padding: 4px 0 20px 0;
}

.post-form-user{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}

.post-form-user > p{
    margin-left: 10px;
    color: var(--fakebook-white-font);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 15px;
}

.post-form-inputs{
    display: flex;
    flex-direction: column;
}

.post-text-area{
    border: none;
    background-color: var(--fakebook-post-nav);
    color: #B0B3B8;
    font-size: 24px;
    resize: none;
    font-weight: 300;
    margin-bottom: 10px;
}

.post-text-area:focus{
    border: none;
    outline: none;
    caret-color: #B0B3B8;
}

.post-form-icon{
    display: flex;
    align-items: center;
}

.profile-pic-form > .post-form-icon{
    margin-top: 10px;
}

.post-form-icon > input{
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: var(--search-bar-color);
    width: 100%;
    color: #B0B3B8;
}

.post-form-icon > input:focus{
    outline: none;
    border: none;
    caret-color: #B0B3B8;
}

.post-submit{
    background-color: var(--fakebook-blue);
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.login-submit-disabled{
    background-color: #1876f239;
    border: none;
    min-width: 362px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-submit-disabled:hover{
    cursor: wait;
}

.post-submit-disabled{
    background-color: #1876f239;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-submit-disabled:hover{
    cursor: wait;
}

.post-submit:hover{
    cursor: pointer;
}

.post-feed-author{
    color: white;
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 600px;
    text-decoration: none;
    margin-left: 10px;
}

.profile-link-post-feed{
    text-decoration: None; 
    display: flex;
    align-items: center;
}

.post-feed-author:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.post-feed-date{
    color: var(--fakebook-light-grey);
    font-weight: 400;
    margin-left: 10px;
}

.post-text{
    color: rgb(228, 230, 235);
    font-size: 15px;
    font-weight: 400;
    overflow-wrap: break-word;
    overflow-y: scroll;
    max-height: 60px;
    padding: 16px 0 16px 0;
}

.post-likes-comments{
    border-bottom: 1px solid var(--fakebook-border-color);
    padding-bottom: 12px; 
    display: flex;
    justify-content: space-between;
    color: var(--fakebook-light-grey);
    margin-top: auto;
}

.comment-nonexistent{
    text-align: center;
    color: var(--fakebook-light-grey);
    margin-top: 10px;
    overflow-wrap: break-word;
}

.post-interactions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;
}

.thumbs-up, .comment{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--fakebook-light-grey);
    padding: 8px;
    text-decoration: none;
}

.liked{
    color: var(--fakebook-blue)!important;
}

.thumbs-up:hover, .comment:hover{
    cursor: pointer;
    background-color: var(--search-bar-color);
    border-radius: 4px;
}

.interactions{
    margin-right: 6px;
}

.post-image{
    text-align: center;
    height: 350px;
    display: block;
    margin: 0 auto 10px auto;
    max-width: 100%;
    object-fit: cover;
}

iframe{
    width: 100% !important;
    height: 350px !important;
}

.comments-top{
    display: flex;
    align-items: center;
}

.comments-popup{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-container{
    display: flex;
    margin-left: 609px;
    margin-bottom: 20px;
}

.post-loading-container{
    display: flex;
    justify-content: center;
}

.post-container.home{
    margin-left: 340px;
}

.post-container.big{
    max-height: 580px;
    min-height: 570px;
}

.post-container.small{
    max-height: 255px;
    min-height: 255px;
}

.create-post{
    display: flex;
    justify-content: center;
}

.comments-top > h2{
    color: white;
    font-weight: 400;
    font-size: 17px;
    margin-right: 20px;
}

.comments-top > button{
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 999999px;
    padding: 6px 8.5px;
    margin-left: auto;
}

.comments-top > button:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.comment-container{
    flex: 1;
    overflow-y: scroll;
    max-height: 100%;
    width: 100%;
}

.comment-form{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-top: auto;
    height: 35px;
    background-color: rgb(58, 59, 60);
    padding: 5px;
    border-radius: 12px;
}

.reply-form{
    display: flex;
    align-items: center;
    background-color: rgb(58, 59, 60);
    padding: 2px;
    border-radius: 12px;
    width: 50%;
    margin-left: 45px;
    margin-top: 5px;
}

.comment-input, .send-comment, .gif-popup{
    border: none;
    background: rgb(58, 59, 60);
}

.reply-input{
    border: none;
    background: rgb(58, 59, 60);
    font-size: 12px;
    width: 90%;
    color: var(--fakebook-white-font);
    padding-left: 12px;
}

.send-reply{
    border: none;
    background: transparent;
}

.comment-input{
    width: 90%;
    color: var(--fakebook-white-font);
}

.comment-input:focus, .reply-input:focus{
    outline: none;
    caret-color: #B0B3B8;
}

.send, .gif{
    color: #B0B3B8;
}

.send-disabled{
    color: #b0b3b87c;
}

.send-disabled:hover{
    cursor: wait;
}

.send-comment, .gif-popup{
    margin-left: auto;
    padding: 4px;
}

.send-comment:hover, .gif-popup:hover, .send-reply:hover{
    cursor: pointer;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 999999px;
}

.empty-container{
    min-width: 332px;
}

.comment-bubble{
    display: flex;
    margin-top: 10px;
}

.comment-text{
    margin-left: 5px;
    background-color: rgb(58, 59, 60);
    color: rgb(228, 230, 235);
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    border-radius: 18px;
    max-width: 100%;
}

.comment-text > p {
    padding: 4px 0 4px 0;
    word-break: break-all;
}

.comment-name{
    text-decoration: none;
    color: white;
}

.interactions{
    margin-left: 9px;
    display: flex;
}

.interactions > p{
    color: var(--fakebook-light-grey);
    margin: 0 8px;
    font-size: 10px;
}

.comment-like:hover, .comment-reply:hover{
    text-decoration: underline;
    text-decoration-color: var(--fakebook-light-grey);
    cursor: pointer;
}

.comment-liked:hover {
    text-decoration: underline;
    text-decoration-color: var(--fakebook-blue);
    cursor: pointer;
}

.comment-liked{
    color: var(--fakebook-blue) !important;
}

.likes{
    margin-left: auto;
    color: var(--fakebook-light-grey);
    margin: 0 8px;
    font-size: 10px;
}

.view-replies{
    transform: scaleY(-1);
    color: #B0B3B8;
    font-size: 15px;
    margin-left: 47px;
}

.replies{
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.replies > p{
    margin-left: 5px;
    color: var(--fakebook-light-grey);
}

.replies > p:hover{
    text-decoration: underline;
    text-decoration-color: var(--fakebook-light-grey);
    cursor: pointer;
}

.comment-bubble.reply{
    margin-left: 47px;
}

.edit-button-pencil{
    margin-left: auto;
    color: var(--fakebook-dark-grey);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 9999999px;
    padding: 3px;
}

.edit-button-pencil:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-results-title{
    color: var(--fakebook-white);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    padding-top: 20px;
}

.search-result-user{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    width: 680px;
    height: 120px;
    background-color: rgb(36, 37, 38);
    border-radius: 8px;
}

.search-result-mid{
    display: flex;
    flex-direction: column;
}

.results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 32px;
}

.results-profile-photo{
    width: 60px;
    height: 60px;
    border-radius: 999999px;
    object-fit: cover;
    margin-left: 16px;
    margin-right: 12px;
}

.results-profile-photo:hover{
    cursor: pointer;
    filter: brightness(60%);
}

.result-link{
    color: var(--fakebook-white);
    text-decoration: none;
    font-size: 17px;
    margin: 5px 0;
}

.result-link:hover{
    text-decoration: underline;
}

.search-result-mid > p{
    font-size: 12px;
    font-weight: 400;
    color: var(--fakebook-light-grey);
    margin: 2px 0;
}

.friend-request{
    color: var(--fakebook-blue);
    border: none;
    background-color: rgba(45, 136, 255, 0.2);
    border-radius: 6px;
    height: 36px;
    margin-left: auto;
    margin-right: 16px;
    padding: 0 12px;
}

.friend-request:hover{
    cursor: pointer;
    background-color: rgba(45, 136, 255, 0.406);
}

.friend-requests > h4{
    color: var(--fakebook-white);
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0 0 4px;
}

.friend-container{
    background-color: rgb(36, 37, 38);
    border-radius: 8px;
    border-color: rgb(62, 64, 66);
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0;
    border-style: solid;
    width: 240px;
    max-width: 240px;
    margin: 4px;
}

.friend-container > img{
    object-fit: cover;
    width: 240px;
    height: 240px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.friend-container > img:hover{
    cursor: pointer;
}

.friend-requests{
    height: 458px;
    border-bottom: 0.5px solid var(--fakebook-border-color);
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.friend-requests-list{
    margin-top: 16px; 
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
}

.friend-container > h4{
    margin: 12px 0 4px 12px;
    font-size: 17px;
    font-weight: 400;
    color: var(--fakebook-white);
}

.friend-container > h4:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
}

.friend-container > h5{
    margin-left: 12px;
    color: var(--fakebook-light-grey);
    font-weight: 300;
    font-size: 12px;
}

.friend-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-request-container, .deny-friend-container{
    color: var(--fakebook-white);
    border: none;
    background-color: var(--fakebook-blue);
    border-radius: 6px;
    height: 30px;
    padding: 0 12px;
    width: 220px;
    font-size: 12px;
    margin-top: 10px;
}

.friend-req-disabled{
    border: none;
    background-color: #1876f239;
    border-radius: 6px;
    height: 30px;
    padding: 0 12px;
    width: 220px;
    font-size: 12px;
    margin-top: 10px;
}

.friend-req-disabled:hover{
    cursor: wait;
}

.friend-req-disabled.se{
    background-color: rgba(255, 255, 255, 0.027);
    margin-bottom: 12px;
}

.friend-request-container:hover, .deny-friend-container:hover{
    cursor: pointer;
    filter: brightness(80%);
}

.deny-friend-container{
    background-color: rgb(255, 255, 255, 0.1);
    margin-bottom: 12px;
}

.contact-birthdays{
    border-bottom: 0.5px solid var(--fakebook-border-color);
    padding-bottom: 20px;
}

.profile-feed > div{
    width: 100%;
}

.profile-feed-container-no-posts{
    text-align: center;
    color: var(--fakebook-dark-grey);
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
}

.error-page{
    background-color: var(--fakebook-post-nav);
    height: 100vh;
    color: var(--fakebook-white);
    padding: 100px 100px;
}

.error-page > h2{
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.error-back-button{
    text-decoration: underline;
    text-decoration-color: var(--fakebook-blue);
    color: var(--fakebook-blue);
    width: 63px;
}

.error-back-button:hover{
    cursor: pointer;
}

.error-msg{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.error-msg > h1{
    font-weight: 100;
}

.error-page > h3{
    margin-bottom: 5px;
    font-weight: 200;
}

.loading-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-loading{
    height: 40px;
}

.friends-loading{
    height: 50px;
    margin-left: 50vw;
    margin-top: 50vh;
}

.about-property-loading, .comment-loading{
    height: 20px
}

.post-loading{
    margin-top: 50px;
    height: 60px;
}

.comment-loading{
    margin: auto;
}

.friend-req-loading{
    margin-top: 50px;
}

.loading-birthdays{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.birthday-loading{
    height: 30px;
}

.post-loading-container-new{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-loading-new{
    height: 80px;
    width: 80px;
    margin: auto;
}

.profile-load{
    background-color: var(--fakebook-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-loading{
    height: 100px;
}

.friend-request.disabled, .profile-unfriend.disabled:hover, .profile-not-friend.disabled:hover{
    cursor: wait;
}

.profile-unfriend.disabled{
    width: 90px;
    display: flex;
    justify-content: center;
}

.profile-not-friend.disabled{
    background-color: rgba(45, 136, 255, 0.2);
    width: 90px;
    display: flex;
    justify-content: center;
}

.side-profile-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.file-upload{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.file-upload.post{
    margin-top: 5px;
    margin-bottom: 8px;
}

.file-upload > input{
    width: 200px;
    color: var(--fakebook-white);
    font-family: var(--fakebook-white-font);
    font-weight: 100;
}

.file-upload > input::file-selector-button{
    background-color: var(--fakebook-blue);
    border: none;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: var(--secondary-font);
    padding: 0 12px;
    font-size: 12px;
    height: 36px;
    margin-right: 20px;
    color: rgb(228, 230, 235);
    box-shadow: var(--card-box-shadow);
}

.file-upload > input::file-selector-button:hover{
    cursor: pointer;
    background-color: var(--fakebook-blue-hover)
}